<mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="F11FormGroup" [editable]="isEditable">
        <!-- #enddocregion editable -->
        <form [formGroup]="F11FormGroup">
            <!-- #docregion step-label -->
            <ng-template matStepLabel>General Information</ng-template>
            <!-- #enddocregion step-label -->
            <div>
                <mat-form-field>
                    <mat-label>Insurance Name</mat-label>
                    <input matInput formControlName="firstNameCtrl" placeholder="Aetna">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="lastNameCtrl" placeholder="230 Main ">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Tax ID</mat-label>
                    <input matInput formControlName="miCtrl" placeholder="P">
                </mat-form-field>
            </div>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="F21FormGroup" [editable]="isEditable">
        <!-- #enddocregion editable -->
        <form [formGroup]="F21FormGroup">
            <!-- #docregion step-label -->
            <ng-template matStepLabel>Fee Structure</ng-template>
            <!-- #enddocregion step-label -->
            <ag-grid-angular style="width: 900px; height: 500px;" 
                class="ag-theme-balham" 
                [rowData]="rawData"
                [columnDefs]="columnDefs"
                >
            </ag-grid-angular>

            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>


        </form>
    </mat-step>
    <mat-step [stepControl]="F31FormGroup" [editable]="isEditable">
        <!-- #enddocregion editable -->
        <form [formGroup]="F31FormGroup">
            <!-- #docregion step-label -->
            <ng-template matStepLabel>Prof. Education</ng-template>
            <!-- #enddocregion step-label -->
            <div>
                <mat-form-field>
                    <mat-label>Name of School</mat-label>
                    <input matInput formControlName="nameCtrl" placeholder="Harvard University" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>State</mat-label>
                    <input matInput formControlName="stateCtrl" placeholder="NY">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Country</mat-label>
                    <input matInput formControlName="countryCtrl" placeholder="USA" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Degree</mat-label>
                    <input matInput formControlName="degreeCtrl" placeholder="Dental " required>
                </mat-form-field>
            </div>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>