
.mat-toolbar {
    background: 
        url('./tumblr_o27c7fByaO1tchrkco1_500.gif') 
            no-repeat center center;
    background-size: cover;
    color: rgb(252, 252, 253);
          
  }
  
  