
.mat-toolbar {
    background: 
        url('./144140_ahp_istock_84344043_large_l.jpg') 
            no-repeat center center;
    background-size: cover;
    color: rgb(11, 24, 212);
          
  }
  
  