
<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="formGroup1" >
    <!-- #enddocregion editable -->
    <form [formGroup]="formGroup1" >
      <!-- #docregion step-label -->
      <ng-template matStepLabel>General Information</ng-template>
      <!-- #enddocregion step-label -->
      <div>
        <mat-form-field [style.width.px]=400>
          <mat-label>Your public address</mat-label>
          <input matInput formControlName="insuredAddressCtrl" placeholder="0x0000"  required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Your Tenki Password</mat-label>
          <input matInput type="password" formControlName="passwordCtrl" placeholder="mypassword" required >
        </mat-form-field>
        </div>
        <div>
        <mat-form-field>
          <mat-label>Contract Start Date</mat-label>
          <input matInput formControlName="startDateCtrl"  placeholder="MM/DD/YYYY" required >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Contract End Date</mat-label>
          <input matInput formControlName="endDateCtrl" placeholder="MM/DD/YYYY" required>
        </mat-form-field>


      </div>
      <div>
        <mat-form-field>
          <mat-label>Premium(Ether)</mat-label>
          <input matInput formControlName="premiumCtrl" placeholder="10" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Indemnity (Ethers)</mat-label>
          <input matInput formControlName="indemnityCtrl" placeholder="110" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Minimum coverage(Ether)</mat-label>
          <input matInput formControlName="minimuCtrl" placeholder="80" required> 
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Region</mat-label>
          <input matInput formControlName="regionCtrl" placeholder="NE" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Upper Temp. (F)</mat-label>
          <input matInput formControlName="upperTempCtrl" placeholder="90" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Avg. Temp. (F)</mat-label>
          <input matInput formControlName="avgTempCtrl" placeholder="70" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Lower Temp. (F)</mat-label>
          <input matInput formControlName="lowerTempCtrl" placeholder="55" required>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field [style.width.px]=400>
          <mat-label>Insurance Contract Address</mat-label>
          <input matInput formControlName="contractIdCtrl" >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field [style.width.px]=400>
          <mat-label>Premium Token Address</mat-label>
          <input matInput formControlName="premiumTokenCtrl" >
        </mat-form-field>
        <mat-form-field [style.width.px]=400>
          <mat-label>Indemnity Token Address</mat-label>
          <input matInput formControlName="indemnityTokenCtrl" >
        </mat-form-field >
      </div>
      <div>
        <!--<button mat-button (click)="stepper.reset()">Reset</button>-->
        <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Submit</button>
        
      </div>
      </form>
  </mat-step>
</mat-horizontal-stepper>